colors
#f0dad7 light pink/light mauve
#f0e5e4 light beige/cream 

@font-face {
    font-family: 'margo_scriptregular';
    src: url('margoscript-regular-webfont.woff2') format('woff2'),
         url('margoscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'margo_serifregular';
    src: url('margoserif-regular-webfont.woff2') format('woff2'),
         url('margoserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    text-align: center;
    color: #2c0203;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0e5e4;
    margin: 0 12%;
}

